{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<div class="container mt-5">
    <!--<h1 class="text-center alert alert-danger"></h1>-->
    {% block content %}

    {% endblock %}
</div>
</body>
</html>