{% load user_age %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
 <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"></script>
   <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
   <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<body>
<div class="row">
    <div class="col-sm-4">
        <table>
            <tr>
                <td><a href="{% url 'user-profile' %}?id={{request.user.id}}" class="text-center alert alert-info">UserProfile</a></td>
                <td><a href="{% url 'logout' %}" class="text-center alert alert-info">Logout</a></td>
            </tr>
        </table>
    </div>
</div><br><br>
<div class="container">
<table border="1" class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Mark</th>
        {% if request.user.is_superuser %}
        <th>Actions</th>
        {% endif %}
    </tr>
    {% for student in students %}
    <tr>
        {% if student.name %}
        <td>{{student.name}}</td>
        <td>{{student.phone}}</td>
        {% get_age student.dob as age %}
        <td>{{age}}</td>
        <td>{% if student.marks %}{{student.marks}}{% else %}0{% endif %}</td>
        <td><i class="fa fa-edit" style="cursor:pointer" data-toggle="modal" data-target="#{{student.id}}"></i></td>

        {% endif %}
    {% empty %}
      <td>{{student.name}}</td>
        <td>{{student.phone}}</td>
        <td>{{student.dob |date:"d-M-Y"}}</td>
        <td>{% if student.marks %}{{student.marks}}{% else %}0{% endif %}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% for student in students %}
<div id="{{student.id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
     <form id="mark-form">
         {% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Mark</h4>
      </div>
      <div class="modal-body">
           <input type="hidden" name="id" value="{{student.id}}">
           Mark:<input type="number" name="mark" id="user_mark">

      </div>
        <div class="error1"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" value="submit" class="btn btn-default">
      </div>

    </div>
       </form>

  </div>
</div>
{% endfor %}

</body>
<script>
    $("#mark-form").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'dashboard' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error1').html(response);
               }
               else{
               window.location.href = "{% url 'dashboard' %}";
                   }
            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });


</script>
</html>