{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h2 class="text-center alert alert-info">Assignment</h2>
 <table class="table table-hover">
     <tr>
         <td><a href="/signup">Register</a> </td>
         <td><a href="/login">Login</a> </td>
     </tr>
 </table>
</body>
</html>
{% endblock %}