{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-sm-4">
        <center><h3 class="text-center alert alert-info">Login</h3></center>
 <form method="post" enctype="multipart/form-data">
     {% csrf_token %}
       <table class="table table-hover">
     <tr>
         <td>username:</td>
         <td><input type="text" name="name" value="{% if name %}{{name}}{% endif %}"></td>
     </tr>
           <tr>
               <td>Password:</td>
               <td><input type="password" name="password" value="{% if password %}{{password}}{% endif %}"></td>
           </tr>
           <tr>
               <td>
                   <input type="submit" value="submit"></td>
           </tr>
       </table>
 </form>
<div class="error-text" style="color:red">
    {{error_message}}
</div>
    </div>
</div>
</body>
</html>
{% endblock %}