{% extends 'base.html' %}
{% block content %}
{% load user_age %}
<!DOCTYPE html>
<html>
<title>zinfog</title>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .hidden{
    display:none;
    }
</style>
<body>

<div class="w3-container">
  <h2></h2>
  <button onclick="document.getElementById('id01').style.display='block'" class="text-center alert alert-info">Edit profile</button>
    <a href="{% url 'dashboard' %}" class="text-center alert alert-info">Home</a>
  <a href="{% url 'logout' %}" class="text-center alert alert-info">Logout</a>
  <div class="container">
      <table class="table table-hover">
          <tr>
              <td><img src="{{user.avatar.url}}" height="50px" width="50px" style="border-radius:50%"></td>
          </tr>
          <tr>
              <td>Name:{{user.name}}</td>
              <td>Phone:{{user.phone}}</td>
              <td>age:{{user.get_age}}</td>
          </tr>
      </table>

  </div>
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <form id="edit-profile" enctype="multipart/form-data">
     {% csrf_token %}
            <table class="table table-hover">
                <tr>
                    <td><input type="hidden"  name="id" value="{{request.GET.id}}">
                        <img id="image"  src="{{user.avatar.url}}" height="50px" width="50px" style="border-radius:50%"><br>
                        <input type="file" class="hidden" id="upload_image" title=" " value="{% if user.avatar %}{{user.avatar.url}}{% endif %}" name="image"></td>
                </tr>
                <tr>
                    <td>name:</td>
                    <td><input type="text" name="name" value="{% if user.name %}{{user.name}}{% endif %}"></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="tel" name="phone" value="{% if user.phone %}{{user.phone}}{% endif %}"></td>
                </tr>
                <tr>
                    <td>Date of birth:</td>
                    <td><input type="date" name="dob" value="{% if user.dob %}{{user.dob|date:'Y-m-d' }}{% endif %}"></td>
                </tr>
                <tr>
                    <td><button type="button" id="upload">Upload Image</button></td>
                    <div id="file_name"></div></tr>
                <tr>
                    <td><input type="submit" value="submit"></td>
                </tr>
            </table>
            <div class="error1" style="color:red">
            </div>
 </form>
      </div>
    </div>
  </div>
</div>

</body>
<script>

$("#edit-profile").submit(function(e) {
       e.preventDefault();
       var formData = new FormData(this);
       $.ajax({
       url : "{% url 'user-profile' %}",
       type : "POST",
       data : formData,
       dataType:'json',
       contentType: false,
       processData: false,
           success : function(data) {
           console.log(data);
               if (data.result != "success")
                {
                 response = data.result;
                 $('.error1').html(response);
               }
               else{
               window.location.href = '{% url 'user-profile' %}?id=' + data.id;
                   }
            },
           // handle a non-successful response
           error : function(xhr,errmsg,errors) {
           console.log(xhr.status + ": " + xhr.responseText);
           console.log(errors)// provide a bit more info about the error to the console
           }
       });
   });


function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#image').attr('src', e.target.result);
      $('#file_name').html(input.files[0].name);

    }

    reader.readAsDataURL(input.files[0]); // convert to base64 string
  }
}

$("#upload_image").change(function() {
  readURL(this);
});
$('#upload').click(function(){
       $('#upload_image').click();
   });

</script>
</html>
{% endblock %}