{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row">
    <div class="col-sm-4">
        <center><h3 class="text-center alert alert-info">Register</h3></center>
 <form method="post" enctype="multipart/form-data">
     {% csrf_token %}
     <table class="table table-hover">
         <tr>
             <td>username:</td>
             <td><input type="text" name="name" value="{% if name %}{{name}}{% endif %}"></td>
         </tr>
         <tr>
             <td>Password:</td>
             <td><input type="password" name="password" value="{% if password %}{{password}}{% endif %}"></td>
         </tr>
         <tr>
             <td>Phone:</td>
             <td><input type="tel" name="phone" value="{% if phone %}{{phone}}{% endif %}"></td>
         </tr>
         <tr>
             <td>Date of birth:</td>
             <td><input type="date" name="dob" value="{% if dob %}{{dob}}{% endif %}"></td>
         </tr>
         <tr>
             <td>image:</td>
             <td><input type="file" name="image"></td>
         </tr>
         <tr>
             <td>Admin  <input type="radio" name="user_type" value="admin" {% if user_type == 'admin' %}checked{% endif %}></td>
             <td>Student<input type="radio" name="user_type" value="student" {% if user_type == 'student' %}checked{% endif %} ></td>

         </tr>
         <tr>
             <td><input type="submit" value="submit"></td>
         </tr>
     </table>
 </form>
<div class="error-text" style="color:red">
    {{error_message}}
</div>
       </div></div>
</body>
</html>
{% endblock %}